body {
    background-color: lightgray;
}
.titel{
    margin-top:50px;
}

.pxl-logo{
    position: fixed;
    top: 0;
    right: 0;

}
.kleuren {
    margin-top:150px;
    margin-left:75px;
}

.roodOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FF0000;
}

.geelOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0;
    transition: .5s ease;
    background-color: #FFFF00;
}
.groenOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008000;
}
.blauwOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    right: 0;
    height: 100%;
    width: 60%;
    opacity: 0;
    transition: .5s ease;
    background-color: #0000FF;
}
.rood, .geel ,.groen, .blauw{
    position: relative;
    width: 50%;
    display: inline-block
}
.groen{
    float: left;
}
.blauw{
    float: right;
}
.rood{
    float: left;
}

.geel{
    float: right;
}
.groen:hover .groenOverlay{
    opacity: 1;
}
.blauw:hover .blauwOverlay{
    opacity: 1;
}
.rood:hover .roodOverlay {
    opacity: 1;
}
.geel:hover .geelOverlay {
    opacity: 1;
}

.row{
    width: 40%;
    text-align: center;
}